.container{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}

.header{
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: pink;
    
}

.sidebar{
    grid-row: 2/12;
    grid-column: 1/4;
    background-color: pink;
}

.navigation{
    grid-column: 4/10;
    grid-row: 2/3;
    background-color: pink;
}

.main{
    grid-row : 3/12;
    grid-column: 4/10;
    background-color: pink;
}

.ads{
    grid-row: 2/12;
    grid-column: 10/13;
    background-color: pink;
}

.footer{
    grid-row: 12/13;
    grid-column: 1/13;
    background-color: pink;
}