h1{
    /* named clolors */
    
    /* color: teal; 
    color: red;
    color: blue; */

    /* RGB Color System */

    /* color: rgb(255, 0, 0);
    color: rgb(120, 0, 120);
    color: rgb(224, 43, 221); */

    /* Hex Code */

    color: #ffff00;
    color: #fff;
    color: #2be07c;

}














/* p{
    color: red;
}

button{
    color: gold;
} */